<form>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="fullNamePrepend">Full name</span>
      </div>
      <input type="text" class="form-control" id="fullNameInput" placeholder="Enter full name" aria-describedby="fullNameHelp" required>
    </div>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroupPrepend3">Email</span>
      </div>
      <input type="email" class="form-control" id="emailInput" placeholder="Enter email" aria-describedby="emailHelp" required>
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="emailInput">Email address</label>
      <input type="email" class="form-control" id="emailInput" aria-describedby="emailHelp" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="degreeTitleInput">Degree Title</label>
      <input type="email" class="form-control" id="emailInput" aria-describedby="dergeeTitleHelp" placeholder="Enter degree title">
    </div>
    <div class="form-group">
        <label for="degreeTitleInput">Degree Title</label>
        <input type="email" class="form-control" id="emailInput" aria-describedby="dergeeTitleHelp" placeholder="Enter degree title">
      </div>
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
