<div class="container">
    <div class="row">
      <div class="col-lg-10 col-xl-9 mx-auto">
        <div class="card card-signin flex-row my-5">
          <div class="card-img-left d-none d-md-flex"></div>
          <div class="card-body">
            <h5 class="card-title text-center">Sage Candidate Details</h5>
            <form
              [formGroup]="detailsForm"
              (ngSubmit)="onSubmit(detailsForm.value)"
              (ngReset)="onReset()"class="form-signin"
            >
              <div class="form-label-group">
                <input type="text" id="inputFullname" formControlName="name" class="form-control" placeholder="Full Name" required autofocus>
                <label for="inputFullname">Full Name</label>
              </div>

              <div class="form-label-group">
                <input type="email" id="inputEmail" formControlName="email" class="form-control" placeholder="Email Address" required>
                <label for="inputEmail">Email Address</label>
              </div>

              <div class="form-label-group">
                <input type="text" id="inputDegreeTitle" formControlName="degreeTitle" class="form-control" placeholder="Degree Title" required>
                <label for="inputDegreeTitle">Degree Title</label>
              </div>

              <div class="form-label-group">
                <input type="number" id="inputYearOfStudy" formControlName="currentYear" class="form-control" placeholder="Current year of study" required>
                <label for="inputYearOfStudy">Current year of study</label>
              </div>

              <hr>

              <div class="form-label-group">
                <input type="text" id="inputJobType" formControlName="desiredJob" class="form-control" placeholder="Desired job type" required>
                <label for="inputJobType">Desired job type</label>
              </div>

              <div class="form-label-group">
                  <select class="custom-select" formControlName="workLocation" id="inputWorkLocation"
                    aria-describedby="workLocationHelp">
                  <option *ngFor="let location of workLocations" [value]="location.id">
                    {{ location.officeLocation }} - {{ location.businessUnit }}
                  </option>
                </select>
                <!-- <label for="inputWorkLocation">Work Location</label> -->
              </div>

              <div class="form-label-group">
                <input type="text" id="inputRecruitmentEvent" class="form-control" formControlName="event" placeholder="Recruitment event" required>
                <label for="inputRecruitmentEvent">Recruitment event</label>
              </div>

              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Save Details</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
