<form>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="fullNamePrepend">Full name</span>
      </div>
      <input type="text" class="form-control" id="fullNameInput" placeholder="Enter full name" aria-describedby="fullNameHelp" required>
    </div>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroupPrepend3">Email</span>
      </div>
      <input type="email" class="form-control" id="emailInput" placeholder="Enter email" aria-describedby="emailHelp" required>
    </div>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="degreeTitlePrepend">Degree title</span>
      </div>
      <input type="text" class="form-control" id="degreeTitleInput" placeholder="Enter degree title" aria-describedby="degreeTitleHelp" required>
    </div>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="currentYearPrepend">Current year of study</span>
      </div>
      <input type="number" class="form-control" id="currentYearInput" placeholder="Enter current year" aria-describedby="currentYearHelp" value=1 required>
    </div>
    <div class="input-group">
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="termsAndConditionsInput" required>
        <label class="form-check-label" for="termsAndConditionsInput">I have read the terms and conditions</label>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
