.input-group {
  margin:10px 0px;
}

input[type=checkbox] {
  transform: scale(1.25);
}

.input-group-text {
  min-width: 11em;
}

.button-group-right {
  position: absolute;
  right: 0;
}

.button-group-left {
  position: absolute;
  left: 0;
}

.button-group {
  position: relative;
}

.form-check {
  display: inline-block;
  margin-right: 1em;
}
